<div class="block-header">
  <h2>Votes</h2>
</div>

<%= render partial: 'shared/notices'%>

<div class="card">
  <div class="listview lv-bordered lv-lg">
    <div class="lv-header-alt clearfix">
      <h2 class="center"></h2>

      <div class="pull-right">

      </div>
    </div>

    <div class="lv-body">
      <div class="media normal">
        <% if @results.any? %>
          <% @results.each do |result| %>
            <h1><%= link_to 'Edit', edit_result_path(result) %></h1>
          <% end %>
        <%else%>
           <h1>Nothing to show yet</h1>
        <% end %>
      </div>
    </div>
  </div>
</div>
