<div class="block-header">
  <h2>Votes</h2>
</div>



<div class="card">
  <div class="listview lv-bordered lv-lg">
    <div class="lv-body">
      <div class="media normal">
        <%= render partial: 'form' %>
      </div>
    </div>
  </div>
</div>
