<%= form_for(user) do |f| %>
  <div class="form-group">
    <%= f.hidden_field :candidate_name %>
  </div>

  <div class="actions">
    <% if !user.image.blank? %>
    <%= image_submit_tag(user.image.url, class: 'image-responsive', style: 'width: 100%'  ) %>
    <% end %>

  </div>
<% end %>
