<%= form_for(user) do |f| %>
  <div class="form-group">
    <%= f.hidden_field :candidate_name %>
  </div>

  <div class="actions">
    <%= image_submit_tag("photo.jpg", class: 'image-responsive', style: 'width: 100%'  ) %>
  </div>
<% end %>
