<div class="block-header">
  <h2>Votes</h2>
</div>

<%= render partial: 'shared/notices'%>

<div class="card">
  <div class="listview lv-bordered lv-lg">
    <div class="lv-header-alt clearfix">
      <h2 class="center">Click on the picture to vote </h2>

      <div class="pull-right">

      </div>
    </div>

    <div class="lv-body">
      <div class="media normal">
        <% if current_user.is_allowed %>
          <% if @votes.any? %>
            <% @votes.each do |user|%>
              <div class="col-md-6">
                <%= render partial: 'vote', locals: {user: user} %>
                <br>
                <% if @show_time.any? %>
                  <% if @show_time.first.show_time %>
                    <h4 class="center"><%= user.count %></h4>
                  <%end%>
                <%end%>
              </div>
            <%end%>
          <%else%>
             <i class="center">  <%= link_to "Add Candidates", new_vote_path%></i>
          <%end%>
        <%else%>
          <h1 class="center" style="color: red">You are not allowed to vote!</h1>
        <%end%>
      </div>
    </div>
  </div>
</div>
