<h3>Forgot your password?</h3>

<p class="text-left">
  Enter your email below and we will send you a password reset link.
</p>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
  <div class="input-group m-b-20">
    <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
    <div class="fg-line">
      <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email address" %>
    </div>
  </div>

  <%= button_tag(type: :submit, class: "btn btn-login btn-danger btn-float waves-effect waves-circle waves-float") do%>
    <i class="zmdi zmdi-arrow-forward"></i>
  <%end%>
<% end %>
