<aside id="chat">
  <ul class="tab-nav tn-justified" role="tablist" style="overflow: hidden; outline: none;" tabindex="0">
    <li role="presentation" class="active"><a href="#search" aria-controls="search" role="tab" data-toggle="tab">Search</a></li>
  </ul>

  <div class="chat-search">
    <div class="fg-line">
      <input type="text" class="form-control" placeholder="Search" id="search">
    </div>
  </div>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="search">
                        <div class="listview" id="searchResults">

                            <!--a class="lv-item" href="">
                                <div class="media">
                                    <div class="pull-left">
                                        <img class="lv-img-sm" src="img/profile-pics/1.jpg" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="lv-title">Claim Application.docx</div>
                                        <small class="lv-small">Document by Finance department and a lot of other text</small>
                                    </div>
                                </div>
                            </a>
                            <a class="lv-item" href="">
                                <div class="media">
                                    <div class="pull-left">
                                        <img class="lv-img-sm" src="img/profile-pics/1.jpg" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="lv-title">Big Data with MongoDB and a lot of other tools and some more text</div>
                                        <small class="lv-small">Training on 20.09.2015</small>
                                    </div>
                                </div>
                            </a-->
                        </div>
                    </div>
                </div>
</aside>
